.userInfoCon {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* 페이지 제목 */
.pageTitle {
    margin: 60px 0px;
    text-align: center;
}
.userInfoCon > h2{
    text-align: center;
}

/* 테이블 */
.userTable {
  width: 80%;           
  margin-left: auto;
  margin-right: auto;   
  border-collapse: collapse;
}

.userTable th,
.userTable td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.userTable th {
  background-color: #2d89ef;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.userTable td:nth-child(3), .userTable td:nth-child(4){
  text-align: left;
}


.formBox{
    display: flex;
    justify-content: center;
}


/* 버튼 */
.infoUpdateBtn, .infoDeleteBtn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 0px 10px;
}
.infoUpdateBtn:hover {
  background-color: #45a049;
}
.infoDeleteBtn{
    background-color: #E53935;
}
.infoDeleteBtn:hover{
    background-color: #B71C1C ;
}



/* 링크 */
.link {
  color: #2d89ef;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #1a5fc8;
  text-decoration: underline;
}
